<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.system.pro.v9">

    <application
        android:label="System Pro V9"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            ...>
            </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
