package com.system.pro;

import android.os.Bundle;
import androidx.appcompat.app.AppCompatActivity;

public class MainActivity extends AppCompatActivity {
    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        android.widget.TextView textView = new android.widget.TextView(this);
        textView.setText("System Pro Build Successful!");
        textView.setGravity(android.view.Gravity.CENTER);
        setContentView(textView);
    }
}
